span.yellow.box{
    background-color: yellow;
    border-color: red;
    border-style: solid;
    display: inline-block;
    width: 100px;
    height: 100px;
}

img.img{
    width: 100px;
    height: 100px;
}